canvas {
  /* canvas의 최소 css 사이즈를 다음과 같이 설정함. */
  min-width: 512px;
  min-height: 64px;
  /* 브라우저가 해당 요소의 이미지 스케일링(크기변경) 방식에 대해 어떤 알고리즘을 적용할건지 선언함. */
  /* pixelated는 이미지 스케일링을 크게 확대할 때 'nearest neighbor' 혹은 비슷한 알고리즘을 사용해서 이미지의 큰 픽셀로 구성해서 나타낼 수 있도록 함. */
  image-rendering: pixelated;
}

#cube {
  /* calc() 함수를 사용하여 CSS 속성의 값을 계산식으로 지정함. */
  /* 즉, 여기서 캔버스 요소의 부모 요소인 #cube의 최대 너비를 부모 요소인 body의 현재 width의 100%에서 20px을 뺀 만큼으로 할당해 줌. */
  max-width: calc(100% - 20px);
  /* overflow는 해당 요소의 콘텐트가 요소보다 커져서 넘쳐흐르면 어떻게 처리할 것인지 지정해줌 */
  /* auto는 브라우저가 처리 방법을 결정하는데, 데스크톱 브라우저라면 콘텐츠가 넘칠 때 스크롤바를 노출시킴 */
  /* 즉, 캔버스의 width가 위에서 지정한 max-width를 넘는다면 가로형 스크롤바를 노출시키겠다는 뜻. */
  overflow: auto;
}